<IfModule mod_rewrite.c>

	RewriteEngine On
	
#	Não aplica a condição para arquivos
	RewriteCond %{REQUEST_FILENAME} !-f
#	Não aplica a condição para diretórios
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php/$1 [QSA,L]
	
</IfModule>

# Armazenando no cache por uma semana
<FilesMatch ".(js|css|jpg|gif|png|pdf)$">
	Header set Cache-Control "max-age=604800"
</FilesMatch>

